# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/
.venv/

# macOS and system files
.DS_Store

# Logs
*.log

# Temporary files and backups
*.tmp
*.bak
*.swp

# Package build artifacts
*.egg-info/
dist/
build/
